body{
     padding-left: 10px;
     padding-right: 10px;
          
}
.home{
     background-image: url("../public/Images/Home.png");
     background-size: cover;
}

.map{
     background-image: url("../public/Images/Mapbg.png");
     background-size: cover;
}

.solarbg{
     background-image:linear-gradient(to right, rgba(0, 0, 0, 0.747) , rgba(255, 255, 255, 0)),url("../public/Images/Solarbg.png");
     background-size: cover;
}

.contactus_intro{
     background-image: url("../public/Images/Aboutus/Intro.png");
     background-size: cover;
}

.mission{
     background-image: url("../public/Images/Aboutus/Mission.png");
     background-size: cover;
}

.teamleader:hover{
     background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.747) , rgba(60, 13, 170, 0));
     /* opacity: 60%; */
}

.scale-boxes :nth-last-of-type(1) {
     background-color: aqua;
}

.Intro{
     background-image: url("../public/Images/Contactus/Intro.png");
     background-size: cover;
}

.media_intro{
     background-image: url("../public/Images/Aboutus/Intro.png");
     background-size: cover;
}